<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      {% include header.html %} {% include bio.html %}
      <section class="articles">
        {% for post in site.posts %}
        <article class="article">
          <a class="article-title" href="{{site.baseurl}}{{post.url}}">
            {{ post.title }}
            <small class="date">{{ post.date | date_to_string }}</small>
            {% if post.categories.size > 0 %}
            <div class="categories">
              {% for c in post.categories %}
              <a href="#!" data-base-url="{{site.baseurl}}" class="category">{{ c }}</a>
              {% endfor %}
            </div>
            {% endif %}
          </a>
        </article>
        {%endfor%}
      </section>
      {% include footer.html %}
    </main>
    {% include category-modal.html%}
  </body>
</html>
