<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      {% include header.html %}
      <section class="article">
        <div class="article-header">
          <h2 class="article-title">{{ page.title }}</h2>
          <div class="article-data">
            <p>
              Posted on: <small class="date">{{ page.created-at | date_to_string }}</small>
              |
              {% if page.modified-at %}
                Edited on: <small class="date">{{ page.modified-at | date_to_string }}</small>
              {% endif %}
            </p>
          </div>
          <div class="categories">
            {% for c in page.categories %}
            <a href="#!" class="category">{{c}}</a>
            {% endfor %}
          </div>
        </div>
        <div class="content">
          <p>
            <img src="{{ page.image }}" alt="">
          </p>  
          {{content}}
        </div>
      </section>
      {% include footer.html %}
    </main>
    {% include category-modal.html%}
  </body>
</html>
